.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: #FFFFFF;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.myItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
